html {
    background-color: #ffffff;
}
body {
    background-image: url(/assets/images/group61.svg); /*временная картинка, тк на нее попали лишние фигуры с макета. */
}
header {
    display: flex;
    flex-direction: row;
    height: 8.8vh;
    width: 100vw;
}

#framelogo {
    height: 6.6vh;
    padding-top: 4.1vh;
    padding-right: 1.18vw;
    padding-bottom: 0vh;
    padding-left: 8.47vw;
}
#header__address {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 8.8vh;
    padding-top: 3.6vh;

    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
}
#header__address div:first-child {
    padding-left: 1.18vw;
    padding-right: 4.9vw;
    height: 5.2vh;
    color: #1c2128;
}
#header__address div:nth-child(2) {
    padding-left: 4.9vw;
    padding-right: 4.9vw;
    height: 5.2vh;
    color: #676767;
}
#header__address div:last-child {
    padding-left: 4.9vw;
    padding-right: 8.3vw;
}
#address1,
#worktime1 {
    padding-bottom: 0.39vh;
    margin: 0%;
}
#address2,
#worktime2 {
    padding-top: 0.39vh;
    margin: 0%;
}
#header__address div a {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-decoration: none;
    color: #404040;
}
#recall {
    margin: 0%;
    color: #676767;
}
#header__address div a:hover {
    cursor: default;
}
nav {
    display: flex;
    flex-direction: row;
    padding-left: 8.3vw;
    padding-top: 1.4vh;
    margin: 0%;
    width: 34.67vw;
    height: 4.44vh;
}
#catalog a {
    display: block;
    position: relative;
    bottom: 5vh;
    left: 0.67vw;
    width: 6.94vw;
    height: 2.3vh;

    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    text-decoration: none;
    color: #ffffff;
}
#catalog a p {
    display: block;
    position: relative;
    left: 2.21vw;
    bottom: 3.67vh;
    margin: 0%;
    height: 2.3vh;
}
#menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: nowrap;
    padding-top: 2.56vh;
    padding-left: 8.75vw;
}
#menu a {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-decoration: none;
    color: #1c2128;
}
#menu a:first-child {
    padding-right: 1.35vw;
    width: 4.78vw;
    color: #f1524f;
}
#menu a:nth-child(2) {
    padding-left: 1.35vw;
    padding-right: 1.35vw;
    width: 7vw;
}
#menu a:last-child {
    padding-left: 1.35vw;
    width: 5.82vw;
}
h1 {
    margin: 0%;
    padding-top: 6.6vh;
    padding-left: 8.3vw;

    font-family: "Oswald", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 95px;
    color: #1c2128;
}
#list1 {
    margin-left: 7.8vw;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #676767;
}
#list1 li:first-child {
    padding-bottom: 1.44vh;
}
#list1 li:nth-child(2) {
    padding-bottom: 1.44vh;
}
#introtext {
    padding-left: 14.79vw;
    padding-top: 30.78vh;
}
#introtext p {
    margin: 0%;
    padding-right: 14.58vw;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 155%;
    text-align: justify;
    color: #000000;
}
#main__catalogue {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;

    margin-top: 9.33vh;
    margin-right: 7vw;
    margin-left: 8.33vw;
}
#main__catalogue div {
    width: 25.7vw;
    min-height: 35.78vh;
    margin-top: 1.667vh;
    margin-right: 1.04vw;
    margin-bottom: 1.667vh;
    margin-left: 1.04vw;
    border-radius: 10px 10px 10px 10px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
#main__catalogue div a {
    display: block;
    box-sizing: border-box;
    height: 9.11vh;
    width: inherit;
    margin-top: 5vh;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #000000;
    text-decoration: none;
}
#main__catalogue div:hover {
    filter: drop-shadow(-5px 66px 18px rgba(137, 218, 251, 0.01))
        drop-shadow(-3px 42px 17px rgba(137, 218, 251, 0.12))
        drop-shadow(-2px 24px 14px rgba(137, 218, 251, 0.4))
        drop-shadow(-1px 11px 11px rgba(137, 218, 251, 0.68))
        drop-shadow(0px 3px 6px rgba(137, 218, 251, 0.79))
        drop-shadow(0px 0px 0px rgba(137, 218, 251, 0.8));
}
/*
#romb {
    position: absolute;
    width: 2961.5px;
    height: 2486.08px;
    left: -1442.04px;
    top: 1395.47px;
}
#rectangle117 {
    position: absolute;
    width: 160px;
    height: 120px;
    left: 1166px;
    top: 97px;
}
#rectangle1206 {
    position: absolute;
    width: 160px;
    height: 120px;
    left: 888px;
    top: 235px;
}
#rectangle1156 {
    position: absolute;
    width: 160px;
    height: 120px;
    left: 1117.11px;
    top: 248.25px;
}
#rectangle1186 {
    position: absolute;
    width: 160px;
    height: 120px;
    left: 913.36px;
    top: 429px;
}
#rectangle1166 {
    position: absolute;
    width: 160px;
    height: 120px;
    left: 1224.1px;
    top: 414.34px;
}
#rectangle1195 {
    position: absolute;
    width: 163px;
    height: 141px;
    left: 1221px;
    top: 594px;
}

#box2 {
    position: absolute;
    width: 370px;
    height: 322px;
    left: 535px;
    top: 1069px;
}
#box2 img {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 25.47%;
}
#box2 a div {
    position: absolute;
    width: 242px;
    height: 24px;
    left: calc(50% - 242px / 2);
    top: calc(50% - 24px / 2 + 120px);
}
#box3 {
    position: absolute;
    width: 370px;
    height: 322px;
    left: 935px;
    top: 1069px;
}
#box3 img {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 25.47%;
}
#box3 a div {
    position: absolute;
    width: 265px;
    height: 24px;
    left: calc(50% - 265px / 2 + 0.5px);
    top: calc(50% - 24px / 2 + 120px);
}
#box4 {
    position: absolute;
    width: 370px;
    height: 322px;
    left: 135px;
    top: 1421px;
}
#box4 img {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 25.47%;
}
#box4 a div {
    position: absolute;
    width: 304px;
    height: 48px;
    left: calc(50% - 304px / 2);
    top: calc(50% - 48px / 2 + 120px);
}
#box5 {
    position: absolute;
    width: 370px;
    height: 322px;
    left: 535px;
    top: 1421px;
}
#box5 img {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 25.47%;
}
#box5 a div {
    position: absolute;
    width: 298px;
    height: 48px;
    left: calc(50% - 298px / 2);
    top: calc(50% - 48px / 2 + 120px);
}
#box6 {
    position: absolute;
    width: 370px;
    height: 322px;
    left: 935px;
    top: 1421px;
}
#box6 a div {
    position: absolute;
    width: 256px;
    height: 24px;
    left: calc(50% - 256px / 2);
    top: calc(50% - 24px / 2 + 120px);
}
#box6 img {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 25.47%;
}

#box7 {
    position: absolute;
    width: 370px;
    height: 322px;
    left: 533px;
    top: 1773px;
}
#box7 a div {
    position: absolute;
    width: 331px;
    height: 24px;
    left: calc(50% - 331px / 2 + 0.5px);
    top: calc(50% - 24px / 2 + 120px);
}
#box7 img {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 25.47%;
}*/

/* #box1 {
    position: absolute;
    width: 370px;
    height: 322px;
    left: 135px;
    top: 1069px;
}
#box1 .boxname {
    position: absolute;
    width: 263px;
    height: 24px;
    left: calc(50% - 263px / 2 + 0.5px);
    top: calc(50% - 24px / 2 + 120px);
}
div div .boxname {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
    text-decoration: none;
}
.boxlink {
    position: absolute;
    width: 370px;
    height: 322px;
    left: 0px;
    top: 0px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.boxlink img {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 25.47%;
}

.boxlink a {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 74.53%;
    bottom: 0%;
    background-color: #ffffff;
    border-radius: 0px 0px 10px 10px;
}

.boxlink a:hover,
.boxname:hover {
    cursor: default;
}
.boxlink:hover {
    filter: drop-shadow(-5px 66px 18px rgba(137, 218, 251, 0.01))
        drop-shadow(-3px 42px 17px rgba(137, 218, 251, 0.12))
        drop-shadow(-2px 24px 14px rgba(137, 218, 251, 0.4))
        drop-shadow(-1px 11px 11px rgba(137, 218, 251, 0.68))
        drop-shadow(0px 3px 6px rgba(137, 218, 251, 0.79))
        drop-shadow(0px 0px 0px rgba(137, 218, 251, 0.8));
} */
